.header {
    background: #cecece;
    padding: 20px;
    margin-bottom: 50px;
}

.container {
    width: 980px;
    margin:  0 auto;
}

.posts {
    margin:  0 auto;
}

.post {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 675px;
    width: 100%;
    box-sizing: border-box;
    background: #f0f0f0;
    padding: 20px;
}

.post .wrapper {
    max-width: 400px;
}

.post img {
    max-width: 200px;
}